body{
	background-color:#222930;
}
.student_info_body
        {
            
            /*border:1px solid blue;*/
			
            margin-top:50px;
            height: 520px;
			margin-bottom: 10px;			
        }
		
		.border1
		{
			/*border:1px solid green;*/
			width:295px;
			height:510px;
			margin-left:2px;
			
			padding: 5px 16px 5px;
			 box-shadow:0px 0px 10px black;
			background-color:#222930;
		}
        
		
		
        .student_menu
        {
            background-color: #4EB1BA;
            
            width:290px;
            height:490px;
			margin-left:-1px;
			margin-top: 9px;
			border: 1PX SOLID BLACK;
			border-radius:5px;
			box-shadow:0px 0px 10px black;
			
			
			
            
        }
        
        .student_menu ul
        {
            text-decoration:none;
            text-align :center;
            margin-left: -50px;
            font-size:30px;
            list-style:none;
            padding-top:150px;
            margin-top:auto;
			
			
        }
        
        .student_menu ul li a
        {
         text-decoration:none;
        color:black;
        display:block;
			
        }
        
        .student_menu ul li a:hover{
        
        
        font-size:50px;
		text-shadow: 2px 2px 5px black;	
        }
        
        .frame
        {
            /*width:980px;*/
            /*height:515px;*/
            margin-left:330px;
           margin-top: -518px;
			/*box-shadow:0px 0px 10p0x black;*/
			/*border:1px SOLID red;*/
			
        }
		
        iframe
        {
            /*border:2px SOLID black;*/
            width:993px;
            height:517px;
            margin-left: 6px;
				
            margin-top: 0px;
			border: none;
			display: cover;
		    box-shadow:0px 0px 10px black;        
        }